@import "tailwindcss";

@theme {
  --color-uitm-blue: #012E6F;
  --color-uitm-violet: #753895;
  --color-uitm-gold: #FFD700;
}

/* custom classes for the Flashcard effect */
@utility perspective-1000 {
  perspective: 1000px;
}

@utility preserve-3d {
  transform-style: preserve-3d;
}

@utility backface-hidden {
  backface-visibility: hidden;
}